//
// _home.scss
//

/*********************************/
/*            Home               */
/*===============================*/
@mixin home-common {
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}

.bg-home {
  height: 100vh;
  @include home-common();
  @media (max-width: 767px) {
    padding: 150px 0 !important;
    height: auto;
  }
}

.bg-home-one {
  padding: 160px 0 220px;
  @include home-common();
}

.bg-half-260 {
  padding: 260px 0;
  @include home-common();
  @media (max-width: 768px) {
    padding: 150px 0;
    height: auto;
  }
}
.bg-half-170 {
  padding: 170px 0;
  @include home-common();
  @media (max-width: 767px) {
    padding: 120px 0;
    height: auto;
  }
}


.bg-header-1 {
  padding: 170px 0;
  @include home-common();
  @media (max-width: 767px) {
    padding: 50px;
    height: auto;
  }
}

.bg-half-100 {
  padding: 100px 0;
  @include home-common();
  @media (max-width: 767px) {
    padding: 120px 0;
    height: auto;
  }

  @media (max-width: 440px) {
    padding: 0;
    margin-top: 50px;
  }
}

.bg-building-pic {
  padding: 130px 0 0;
  @include home-common();
}

.text-animation {
  text-align: center;
  margin-left: 1rem;
  color: black;
  font-size: 6rem;
  font-weight: bold;

  @media (max-width: 425px) {
    font-size: 2rem;
  }

  span {
    display: block;

    &.rotate-text {
      display: inline-block;
      animation: rotateText 3s infinite; // Rotate every 3 seconds infinitely
    }
  }

  @keyframes rotateText {
    0% {
      transform: rotate(-5deg); // Rotate to the left
    }
    50% {
      transform: rotate(5deg); // Rotate to the right
    }
    100% {
      transform: rotate(-5deg); // Return to the left
    }
  }
}

@media (max-width: 992px) {
  .text-animation span {
    font-size: 3rem;
  }

  #description {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .text-animation span {
    font-size: 3rem;
  }
  #header-img {
    display: none;
  }

  #description {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .text-animation span {
    font-size: 2rem;
  }
  #header-img {
    display: none;
  }
}

/*********************************/
/*            Swiper slider      */
/*===============================*/
.swiper-slider-hero {
  .swiper-container,
  .swiper-slide .slide-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-container {
    .swiper-button-prev,
    .swiper-button-next {
      background: transparent;
      width: 35px;
      height: 35px;
      line-height: 35px;
      margin-top: -30px;
      &:before {
        font-family: "Material Design Icons";
        font-weight: 900;
        color: $white;
      }
      &:hover {
        background: $primary;
        border-color: $primary !important;
      }
    }
    .swiper-button-prev {
      left: 10px;
      border: 1px solid rgba($white, 0.5);
      &:before {
        content: "\f0141";
      }
    }
    .swiper-button-next {
      right: 10px;
      border: 1px solid rgba($white, 0.5);
      &:before {
        content: "\f0142";
      }
    }
  }
  .swiper-pagination-bullet {
    color: $gray-100;
    background: transparent;
  }
  .swiper-pagination-bullet-active {
    color: $white;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 45px;
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 13px;
  }
}

/*********************************/
/*           Kenburn Effect      */
/*===============================*/
.zoom-image {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.image-wrap {
  position: absolute;
  top: -200px;
  bottom: -200px;
  left: -100px;
  right: -100px;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  animation: 100s ppb_kenburns linear infinite alternate;
}

@keyframes move {
  0% {
    transform-origin: bottom;
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes ppb_kenburns {
  0% {
    transform: scale(1.3) translate(-10%, 10%);
  }
  25% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(10%, 10%);
  }
  75% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.3) translate(-10%, 10%);
  }
}
.carousel {
  &.carousel-slider {
    .control-arrow {
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

.ring {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%; // Makes it a perfect circle
  background: rgba(46, 220, 251, 0.5); // Set fill color with transparency
  animation: ring 4s linear infinite;
  z-index: -10;
}

@keyframes ring {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.ring-animation {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(9, 175, 204, 0.5);
  animation: ring 4s linear infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.line {
  border-right: 1px solid black;
  height: 50%;
}

.bg-desktop {
  background-image: url("/images/desktop-1.png");
  width: "100%";
  height: "100vh";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Global Styles
$primary-color: #000;
$text-color: #000;

.background-container {
  width: 80%;
  height: 85vh;
  background-image: url("/images/desktop-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    background-image: none; // Remove background image for md and sm
    background-color: #f8f9fa; // Set background color for md and sm
    height: auto;
  }
}

// Left Content Styling
.content-left {
  margin-top: 150px;

  .title-heading {
    text-align: center;

    .title-dark {
      font-size: 2rem;
      font-weight: bold;
      color: $primary-color;
    }
  }
}

// Right Content Styling
.content-right {
  margin-top: 150px;

  #description {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: $text-color;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 0.9rem; // Adjust font size for smaller screens
    }
  }
}

// Responsive Layout Adjustments
@media (max-width: 992px) {
  .background-container {
    padding: 2rem;
  }

  .content-left,
  .content-right {
    .title-heading {
      .title-dark {
        font-size: 2rem; // Reduce title size for tablets
      }
    }
  }
}

@media (max-width: 576px) {
  .content-left,
  .content-right {
    height: 200px;
    .title-heading {
      .title-dark {
        font-size: 2rem; // Reduce title size further for mobile
      }
    }

    #description {
      font-size: 1rem; // Adjust description font size for mobile
    }
  }
}

.txt-home-open {
  white-space: nowrap;
}

.single-view-mail-img {
  width: 100%;
  height: 70vh;
  object-fit: cover;

  @media (max-width: 768px) {
    height: 50vh;
  }
}

.view-more-image {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  width: 250px;
  height: 150px;
  padding: 1rem;

  @media (max-width: 425px) {
    width: 200px;
    height: 100px;
  }
}
