.subcription-bg{
    background-color: $blue-oerlay;
}

.bg-container{
    background-image: url('/images/bg/subscribe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
}

.link-hover:hover{
    color: blue;
    text-decoration: underline;
}